@model avaliacao_1.Models.ContaLuzViewModel

@{
    ViewData["Title"] = "Contas de Luz";
}

<h2 class="text-center">Contas de Luz</h2>
<p class="d-block text-right">
    @Html.ActionLink("Adicionar Conta de Luz", "Create", new {}, new { @class = "btn btn-outline-info" })
</p>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Data Leitura</th>
            <th>KW Gasto</th>
            <th>Valor a pagar</th>
            <th>Data Pagamento</th>
            <th>Média Consumo</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listaContasLuz)
        {
            <tr>
                <th>@item.id</th>
                <td>@item.dataLeitura.ToString("dd/MM/yyyy")</td>
                <td>@item.kwGasto</td>
                <td>R$ @item.valorAPagar</td>
                <td>@item.dataPagamento.ToString("dd/MM/yyyy")</td>
                <td>@item.mediaConsumo</td>
                <td class="text-center">
                    <a class="btn btn-outline-success" 
                        asp-controller="ContaLuz" 
                        asp-action="Ver" 
                        asp-route-id="@item.id"><i class="fas fa-eye"></i></a>

                    <a class="btn btn-outline-primary mx-2" 
                        asp-controller="ContaLuz" 
                        asp-action="Ver" 
                        asp-route-id="@item.id"><i class="fas fa-edit"></i></a>

                    <a class="btn btn-outline-danger" 
                        asp-controller="ContaLuz" 
                        asp-action="Ver" 
                        asp-route-id="@item.id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th class="table-info" colspan="3">Menor Consumo</th>
            <th class="table-info d-flex justify-content-between align-items-center">
                <span>
                    @Model.menorConsumo.mediaConsumo
                </span>
                <small class="text-right">
                    ID: @Model.menorConsumo.id
                    (@Model.menorConsumo.dataLeitura.ToString("MM/yyyy"))
                </small>
            </th>
            <th class="table-danger" colspan="2">Maior Consumo</th>
            <th class="table-danger d-flex justify-content-between align-items-center">
                <span>
                    @Model.maiorConsumo.mediaConsumo
                </span>
                <small class="text-right">
                    ID: @Model.maiorConsumo.id
                    (@Model.maiorConsumo.dataLeitura.ToString("MM/yyyy"))
                </small>
            </th>
        </tr>
    </tfoot>
</table>